@import '~antd/dist/antd.css';
@import './_variables.scss';


#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.container {
  margin-left: $sidenav-width;
  min-height: 100vh;
}

pre {
  font-family: "proxima-nova", 'Proxima Nova', sans-serif;
}