{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "MessagesSlackHook": "copy from https://api.slack.com/apps/A025SJLMSAY/incoming-webhooks? for dev-messages"
}
