@import '../variables';

.Skills {
    padding: $layout-padding;
    padding-top: $layout-padding + 8px;
    position: relative;
}

.svgContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}