@import '~antd/dist/antd.css';
@import './_variables.scss';


#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

pre {
  font-family: "proxima-nova", 'Proxima Nova', sans-serif;
}

.ant-layout {
  background-color: hsl(240, 20%, 90%);
}

.page-title {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.full-width {
  width: 100%;
}