@import '~antd/dist/antd.css';
@import './_variables.scss';

@font-face {
  font-family: "Kalam";
  src: url(./Kalam-Bold.ttf);
}

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px 0 5px 0;
  font-family: "Kalam";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  color: wheat;
}
.site-layout .site-layout-background {
  background: #fff;
}

pre {
  font-family: "proxima-nova", 'Proxima Nova', sans-serif;
}

.ant-layout {
  background-color: hsl(240, 20%, 90%);
}

.page-title {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.full-width {
  width: 100%;
}