.ProjectImage {
    max-width: calc(min(100%, 300px));
    max-height: 300px;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.Project {
    cursor: pointer;
    transition: width 0.3s;
    width: 100%;
    margin: 10px;
}

.NotExpanded {
    width: 400px;
    overflow: hidden;
}

.FirstParagraph {
    word-wrap: normal;
}

@media (max-width: 500px) {
    .FirstParagraph {
        clear: both;
    }
    
    .ImageWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}