@import '../../variables';

.SkillTree3D {
    padding-top: $layout-padding + 8px;
    overflow: auto;
    width: fit-content;
    min-width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.SvgContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.NodesContainer {
    display: inline-flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: stretch;
    min-width: auto;
    margin: 0 auto;  
    position: relative;
}
