@import '../../variables';

.SkillTree3D {
    padding-top: $layout-padding + 8px;
    position: relative;
    min-height: 100vh;
    overflow: auto;
    width: fit-content;
    margin: auto;
}

.svgContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}