@import '../variables';

.Contact {
    padding: $layout-padding;

    .Content {
        max-width: 800px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    .SendButton {
        float: right;
        width: 83.333%;
    }

    .FullWidth {
        width: 100%;
    }
}